.contents
  = render 'shared/side_bar'

  .chat-main
    .chat-main__header
      .chat-main__header--group
        .chat-main__header--group-name
          = @group.name
        = link_to "edit", edit_group_path(@group.id) ,class: 'chat-main__header--group-edit-btn'
      .chat-main__header-members
        MEMBER:
        - @group.users.each do |user|
          = user.name

    .chat-main__body
      = render partial: 'message', collection: @messages

    .chat-main__footer
      = form_for [@group, @message] , html: {class:'chat-main__footer-form'} do |f|
        .chat-main__footer-body
          = f.text_field :body, class: 'message', placeholder: 'type a message'
          = f.label :image, class: 'chat-file' do
            = f.file_field :image, class: 'image'
            = fa_icon 'picture-o', class: 'fa fa-image'
          .field_with_errors
        = f.submit 'Send', class: 'submit'
